@import url(http://fonts.googleapis.com/css?family=Montserrat+Alternates);

* {
    margin:0;
    padding:0;
    font:12pt Arial;
}


body {
    background-color:lightblue;
}

h3{
    color:black;
    text-shadow: 5px 5px 5px #808080;
    text-align:center;
}

h1{
    color:black;
    text-shadow: 5px 5px 5px darkblue;
    text-align:center;
}


.ApplicationSquare {
    border:1px solid;
    height:20%;
    width:10%;
    margin:1%;
    float:left;
}

.ApplicationLogo {
    width="90%";
    height="90%";
}

<!--input[type="search"]
{
 
    color: black;       
	text-align: right;
	cursor: pointer;
	display: block; 
	width: 80%;   
	text-shadow: 0 0 2px lightblue;       
	word-spacing: 20px;  -->
}



