body {
    background-color:lightblue;
}

h3{
    color:black;
    text-shadow: 5px 5px 5px #808080;
    text-align:center;
}

.ApplicationSquare {
    border:1px solid;
    height:20%;
    width:10%;
    margin:1%;
    float:left;
}

.ApplicationLogo {
    width="90%";
    height="90%";
}

